.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;

  button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00a672;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    margin-left: 1rem;

    &:hover,
    &:active {
      background-color: darken(#00a672, 10);
      border-color: darken(#00a672, 10);
      color: #f0e7d0;
    }
  }

  .button {
    background-color: #00a672;
    color: #f0e7d0;

    &--alt {
      color: #00a672;
    }
  }
}
